/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

/* content入力欄のフォント変更 */
input[type="text"],
textarea {
  font-family: Arial, sans-serif;
}

/* ヘッダー */
.header {
  display: flex;
  height: 180px;
}

/* ヘッダー左 */
.left-header {
  width: 370px;
  padding: 0 29px;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nickname {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #FAFAFA;
  text-decoration: none;
}

.nickname-change-button {
  background-color: #666;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.nickname-change-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ヘッダー右 */
.right-header {
  width: calc(100vw - 370px);
  display: flex;
}

.page-title {
  padding: 20px;
}

/* メイン */
.main {
  width: 100%;
  height: calc(100vh - 180px);
  display: flex;
}

/* メイン左 */
.left-main {
  background-color: #3b3b3b;
  color: white;
  width: 370px;
  padding: 20px;
}

/* 予定・タスク入力フォーム */
.form-group label,
.form-group .form-control {
  display: block;
}

.form-group {
  margin-bottom: 20px;
}

.form-tag {
  font-weight: bold;
  color: white;
}

.form-control {
  width: 95%;
  height: 30px;
  padding: 0px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control-datetime {
  width: 73px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control-area {
  display: block;
  width: 95%;
  height: 290px;
  padding: 0px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #666;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* メイン右 */
.right-main {
  background-color: #FAFAFA;
  flex: 1;
  padding: 20px;
  margin-left: 10px;
}

/* メイン下ボタン */
.action-buttons {
  margin-top: 20px;
}

.action-button {
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 18px;
}

.edit-button {
  background-color: #333;
}

.delete-button {
  background-color: #666;
}

.return-button {
  background-color: #999;
}

.action-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* 詳細表示 */

.show-info {
  display: flex;
  margin-bottom: 10px;
}

.show-label {
  width: 100px;
  color: #FAFAFA;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 0.5em 0.8em;
  border-radius: 5px 0 0 5px;
  background-color: #5c5c5c;
  border: 3px solid black;
  border-right: none;
}

.show-value {
  flex: 1;
  color: black;
  font-weight: bold;
  border-left: solid 8px black;
  background: #d6d6d6;
  line-height: 1.5;
  border-radius: 0 15px 15px 0;
  padding: 0.5em;
  margin-left: 5px;
}

/* 編集フォーム */
.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  color: black;
}

.form-input {
  width: 100%;
  height: 30px;
  padding: 0px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-input-datetime {
  width: 61px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-input-area {
  display: block;
  width: 100%;
  height: 290px;
  padding: 0px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-submit {
  margin-top: 20px;
}

/* 編集フォーム下ボタン */
.submit-button {
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 18px;
}

.update-button {
  background-color: #333;
  border: none;
  box-shadow: none;
}

.go-show-button {
  background-color: #666;
}

.go-top-button {
  background-color: #999;
}

.submit-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* カレンダー体裁 */

.current_cal{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #303030;
  color: white;
  padding-left: 10px;
}

.space {
  margin-right: 15px;
}

.simple-calendar {
  font-family: Arial, sans-serif;
}

.calendar-heading {
  padding: 10px 0;
}

.calendar-heading a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.calendar-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #dee2e6;
  font-weight: bold;
}

.table th {
  background-color: #303030;
  color: white;
}

.table td {
  background-color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.table th:nth-child(6) {
  color: #4885ff;
}

.table th:nth-child(7) {
  color: #ff6161;
}

/* 新規登録ページ */
.h2 {
  margin-bottom: 20px;
}

.sign-up-group {
  margin-bottom: 20px;
}

.sign-up-label {
  font-weight: bold;
  color: #333;
}

.sign-up-input {
  width: calc(100% - 30px);
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.sign-up-actions {
  margin-top: 20px;
}

.sign-up-button {
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 10px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 18px;
  border: none;
  box-shadow: none;
}

.sign-up-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ログインページ */
.log-in-group {
  margin-bottom: 20px;
}

.log-in-label {
  font-weight: bold;
  color: #333;
}

.log-in-input {
  width: calc(100% - 30px);
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.log-in-actions {
  margin-top: 20px;
}

.log-in-button {
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 10px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 18px;
  border: none;
  box-shadow: none;
}

.log-in-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sign-up-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

.sign-up-link:hover {
  text-decoration: underline;
}